
*.dll
*.dll
*.ide
*.ide
*.ide-shm
POS_MVC/obj/Debug/RexERP.csprojAssemblyReference.cache
POS_MVC/obj/Debug/RexERP.csproj.FileListAbsolute.txt
.vs/RexERP/v16/Server/sqlite3/storage.ide-wal
POS_MVC/obj/Debug/RexERP.csproj.FileListAbsolute.txt
.vs/RexERP/v16/Server/sqlite3/storage.ide-wal
.vs/RexERP/v16/Server/sqlite3/storage.ide
.vs/RexERP/v16/Server/sqlite3/storage.ide-shm
.vs/RexERP/v16/Server/sqlite3/storage.ide-wal
POS_MVC/obj/Debug/RexERP.csproj.FileListAbsolute.txt
.vs/RexERP/v16/.suo
*.pdb
*.pdb
erp.bak
POS_MVC/bin/RiceMill_MVC.dll
POS_MVC/bin/RiceMill_MVC.pdb
POS_MVC/obj/Debug/RdlCompile.cache
POS_MVC/obj/Debug/RiceMill_MVC.dll
POS_MVC/obj/Debug/RiceMill_MVC.pdb
RexERP.v12.suo
erp.bak
POS_MVC/bin/RiceMill_MVC.dll
POS_MVC/bin/RiceMill_MVC.pdb
POS_MVC/obj/Debug/RdlCompile.cache
POS_MVC/obj/Debug/RiceMill_MVC.dll
POS_MVC/obj/Debug/RiceMill_MVC.pdb
RexERP.v12.suo
*.bak
