<div class="row">
    <label>Journal Posting</label>
    <div class="col-md-12">
        <div class="card">
            <div class="row">
                <div class="col-lg-12">
                    <div class="well bs-component">
                        <form class="form-horizontal">
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">
                                        Invoice No:
                                    </label>
                                    <div class="col-md-2">
                                        <input type="text" value="001" readonly id="txtPoNo" name="txtPoNo" class="form-control" />
                                    </div>
                                    <label class="col-md-1 control-label">
                                        Dates:
                                    </label>
                                    <div class="col-md-3">
                                        <input type="date" required id="txtDates" name="txtDates" class="form-control" style="width:200px; height:40px"/>
                                    </div>
                                    <label class="col-md-1 control-label">
                                        Notes:
                                    </label>
                                    <div class="col-md-2">
                                        <input type="text" id="txtDescriptions" name="txtDescriptions" class="form-control" style="width:200px" />
                                    </div>
                                </div>
                                <div class="ibox-content" id="divInfo">
                                    <div class="form-group">
                                        <div class="col-md-12 table-responsive" id="div-productGroup">
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div>
                        <table id="myTable" class="table order-list">
                            <thead>
                                <tr>
                                    <td>Ledger</td>
                                    <td>Dr/Cr</td>
                                    <td>Against Invoice </td>
                                    <td>Amount</td>
                                    <td>Cheque No</td>
                                    <td>Cheque Date</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="col-sm-2">
                                        <select id="ddlLedger" class="form-control">
                                            <option value="0">Select</option>
                                        </select>
                                    </td>
                                    <td class="col-sm-1">
                                        <select id="ddlItem" class="form-control">
                                            <option value="Dr">Dr</option>
                                            <option value="Cr">Cr</option>
                                        </select>
                                    </td>
                                    <td class="col-sm-1">
                                            <button type="button" name="btnInvoice" id="btnInvoice" class="form-control">Against</button>
                                    </td>
                                    <td class="col-sm-1">
                                        <input type="number" name="txtAmount" id="txtAmount" class="form-control" />
                                    </td>
                                    <td class="col-sm-1">
                                        <input type="text" name="txtChequeNo" id="txtChequeNo" value="1" class="form-control" />
                                    </td>
                                    <td class="col-sm-1">
                                        <input type="date" name="txtChequeDate" id="txtChequeDate" class="form-control" style="width:200px; height:40px"/>
                                    </td>
                                    <td class="col-sm-1">
                                        <a class="datatable-submit-button" id="btnAdd" onclick="AddJournalToGrid('1')"><i class="fa fa-edit"></i>Add</a>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr><td></td></tr>
                            </tfoot>
                        </table>

                        <div class="ibox-content" id="divInfo">
                            <div class="form-group">
                                <h4>Added Ledger</h4>
                                <div class="col-md-12 table-responsive" id="div-product-add">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-8">
                        </div>
                        <div class="col-md-4">
                            <p>Total Qty:<label id="lblTotalQty">0</label></p>
                            <p>Total Amount:<label id="lblTotalAmount">0</label></p>
                        </div>
                    </div>                    
                    <div class="form-actions">
                        <div class="col-md-12">
                            <button class="btn btn-w-m btn-info" data-style="expand-left" id="btnSave" type="button" onclick="JournalPosting()"><i class="fa fa-save"></i>&nbsp; Save</button>
                            <button class="btn btn-w-m btn-success" type="button" id="btnReset" onclick="ResetForm()"><i class="fa fa-refresh"></i>&nbsp;Reset</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script id="templateProductModalAdd" type="text/html">
    <table class="table table-bordered table-striped table-hover" id="productTableModal">
        <thead>
            <th>SI </th>
            <th>Ledger</th>
            <th>Dr/Cr</th>
            <th>Against Invoice </th>
            <th>Cheque No</th>
            <th>Cheque Date</th>
            <th>Amount</th>
            <th>Action </th>
        </thead>
        <tbody>
            {{#ProductSearchAdd}}
            <tr>
                <td>{{Id}}</td>
                <td>{{LedgerName}}</td>
                <td> {{DrOrCr}}</td>
                <td>{{InvoiceNo}}</td>
                <td> {{ChequeNo}}</td>
                <td> {{ChequeDate}}</td>
                <td> {{Amount}}</td>
                <td>
                    <a class="btn btn-danger" onclick="OnDeleteProduct('{{Id}}')"><i class="fa fa-trash-o"></i></a>
                </td>
            </tr>
            {{/ProductSearchAdd}}
        </tbody>
    </table>
</script>
<script>
    var ledgerPostingList = [];
     function calculateGrandTotal() {
         var grandTotal = 0;
         $("table.order-list").find('input[name^="price"]').each(function () {
             grandTotal += +$(this).val();
         });
         $("#grandtotal").text(grandTotal.toFixed(2));
     }
    $(document).ready(function () {
           var now = new Date();
            var day = ("0" + now.getDate()).slice(-2);
            var month = ("0" + (now.getMonth() + 1)).slice(-2);
            var today = now.getFullYear() + "-" + (month) + "-" + (day);
            $('#txtDates').val(today);
         LoadAccountLedger("ddlLedger");
     });
    function JournalPosting() {
    var isOK = CheckValidate();
    if (isOK) {
        $.ajax({
            url: '/Journal/JournalSave',
            method: 'post',
            dataType: 'json',
            async: false,
            data: {
                voucherNo: $('#txtPoNo').val(),
                GroupUnder: $('#ddlUnder').val(),
                notes: $('#txtDescription').val(),
                voucherDate: $('#txtDates').val(),
                ledgerPosting: ledgerPostingList
            },
            success: function (data) {
                ShowNotification("1", "Journal Saved!!");
               // setTimeout(location.reload.bind(location), 1000);

                window.location.href = "/Report/Viewer/ReportViewer.aspx?ReportName=JournalVoucher&invoiceId=" + $("#txtPoNo").val();
            },
            error: function () {
            }
        });
    }

}

function CheckValidate() {
    var credit = 0;
    ledgerPostingList.filter(a => a.DrOrCr == 'Cr').forEach(val => {
        credit = credit + val.Amount;
    });
    var Debit = 0;
    ledgerPostingList.filter(a => a.DrOrCr == 'Dr').forEach(val => {
        Debit = Debit + val.Amount;
    });
    if (credit != Debit) {
        ShowNotification("1", "Debit and Credit should be equal!!");
        return false;
    }
    else {
        return true;
    }
}

var count = 0;
function AddJournalToGrid() {
    var Ledger = "";
    var DrOrCr = '';
    var Amount = '';
    var ChequeNo = '';
    var ChequeDate = '';
    $('#myTable tr').each(function (i) {
        if (i == "1") {
            var countCount = count++;
            LedgerId = $("#ddlLedger option:selected").val();
            LedgerName = $("#ddlLedger option:selected").text();
            DrOrCr = $(this).find('td').eq(1).find('select').val();
            Amount = parseInt($(this).find('td').eq(3).find('input').val());
            ChequeNo = $(this).find('td').eq(4).find('input').val();
            ChequeDate = $(this).find('td').eq(5).find('input').val();
        }

    });
    var object = {
        Id: count,
        LedgerId: LedgerId,
        LedgerName:LedgerName,
        DrOrCr: DrOrCr,
        Amount: Amount,
        ChequeNo: ChequeNo,
        ChequeDate: ChequeDate
    };
    ledgerPostingList.push(object);
    var templateWithData = Mustache.to_html($("#templateProductModalAdd").html(), { ProductSearchAdd: ledgerPostingList });
    $("#div-product-add").empty().html(templateWithData);
}
</script>
<script src="~/Scripts/app/CommonLoader.js"></script>
<script src="~/Scripts/app/Accounts.js"></script>













