<div class="row">
    <label>Receive</label>
    <div class="col-md-12">
        <div class="card">
            <div class="row">
                <div class="col-lg-12">
                    <div class="well bs-component">
                        <div class="form-group">
                            <label class="col-md-2">
                                Invoice No:
                            </label>
                            <div class="col-md-3">
                                <input type="text" value="" readonly id="txtPoNo" name="txtPoNo" class="form-control" style="height:35px" />
                            </div>
                            <label class="col-md-2">
                                Supplier/Party:
                            </label>
                            <div class="col-md-3">
                                <select class="form-control" id="ddlSupplier" name="ddlSupplier" style="height:35px"></select>
                            </div>
                            <label class="col-md-1 control-label">
                                LC No:
                            </label>
                            <div class="col-md-1">
                                <input type="text" id="txtLCNo" name="txtLCNo" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">
                                Dates:
                            </label>
                            <div class="col-md-3">
                                <input type="date" id="txtDates" name="txtDates" required class="form-control" style="height:35px" />
                            </div>
                            <label class="col-md-2 control-label">
                                Notes:
                            </label>
                            <div class="col-md-3">
                                <input type="text" id="txtDescriptions" name="txtDescriptions" class="form-control" style="height:35px" />
                            </div>
                        </div>
                        <div class="ibox-content" id="divInfo">
                            <div class="form-group">
                                <div class="col-md-12 table-responsive" id="div-productGroup">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <hr />
                        <table id="myTable" class="table order-list">
                            <thead>
                                <tr>
                                    <td>Product</td>
                                    <td>Grade</td>
                                    <td>API</td>
                                    <td>Size</td>
                                    <td>Qty</td>
                                    <td>Rate</td>
                                    <td>Total Amt </td>
                                    <td>Warehouse</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="col-sm-2">
                                        <select id="ddlItem" class="form-control">
                                            <option value="0">Select</option>
                                        </select>
                                    </td>
                                    <td class="col-sm-2">
                                        <select id="ddlBrand" class="form-control">
                                            <option value="0">Select</option>
                                        </select>
                                    </td>
                                    <td class="col-sm-2">
                                        <select id="ddlAPI" class="form-control">
                                            <option value="0">Select</option>
                                        </select>
                                    </td>
                                    <td class="col-sm-2">
                                        <select id="ddlSize" class="form-control">
                                            <option value="0">Select</option>
                                        </select>
                                    </td>
                                    <td class="col-sm-1">
                                        <input type="number" name="txtQty" id="txtQty" value="0" style="height:35px" class="form-control" />
                                    </td>

                                    <td class="col-sm-1">
                                        <input type="number" name="txtAmount" id="txtAmount" value="0" style="height:35px" class="form-control" />
                                    </td>
                                    <td class="col-sm-1">
                                        <input type="number" readonly name="txtTotalAmount" id="txtTotalAmount" value="0" style="height:35px" class="form-control"/>
                                    </td>
                                    <td class="col-md-2">
                                        <select class="form-control" id="ddlWareHouse" name="ddlWareHouse"></select>
                                    </td>
                                    <td class="col-sm-1">
                                        <input type="button" class="btn btn-primary " id="btnAdd" name="btnAdd" value="Add" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="ibox-content" id="divInfo">
                            <div class="form-group">
                                <h4>Added Product</h4>
                                <div class="col-md-12 table-responsive" id="div-product-add">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-8">

                        </div>
                        <div class="col-md-4">
                            <p>Total Qty:<label id="lblTotalQty">0</label></p>
                            <p>Total Amount:<label id="lblTotalAmount">0</label></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <h4>Other Expense</h4>
                            <table id="myTable" class="table order-list">
                                <thead>
                                    <tr>
                                        <td>Expense Head</td>
                                        <td>Qty</td>
                                        <td>Rate</td>
                                        <td>Total Expense </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="col-sm-2">
                                            <select id="ddlExpenseHead" class="form-control" style="height:35px">
                                                <option value="Other">Others</option>
                                            </select>
                                        </td>
                                        <td class="col-sm-1">
                                            <input type="number" name="txtExpenseAmount" id="txtExpenseAmount" class="form-control" style="height:35px" />
                                        </td>
                                        <td class="col-sm-1">
                                            <input type="number" name="txtExpenseRate" id="txtExpenseRate" class="form-control" style="height:35px" />
                                        </td>
                                        <td class="col-sm-1">
                                            <input type="number" readonly name="txtExpenseTotalAmount" id="txtExpenseTotalAmount" class="form-control" style="height:35px" />
                                        </td>
                                        <td class="col-sm-1">
                                            <input type="button" class="btn btn-primary" id="btnAddExpense" value="ADD" />
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                </tfoot>
                            </table>
                        </div>
                        <div class="ibox-content" id="divExpenseInfo">
                            <div class="form-group">
                                <h4>Added Expense</h4>
                                <div class="col-md-12 table-responsive" id="div-expense-add">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-8">
                            </div>
                            <div class="col-md-4">

                                <p>Total Expense Amount:<label id="lblTotalExpenseAmount">0</label></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">
                                Discount:
                            </label>
                            <div class="col-md-4">
                                <input type="number" id="txtDiscount" name="txtDiscount" value="0" class="form-control" style="width:200px; height:35px" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-8">
                            </div>
                            <div class="col-md-4">

                                <h5><b>Grand Total:</b><label id="lblGrandTotal">0</label></h5>
                            </div>
                        </div>

                    </div>
                    <div class="form-actions">
                        <div class="col-md-12">
                            <button class="btn btn-w-m btn-info" data-style="expand-left" id="btnSave" type="button" onclick="GoodReceiveSave()"><i class="fa fa-save"></i>&nbsp; Save</button>
                            <button class="btn btn-w-m btn-success" type="button" id="btnReset" onclick="ResetForm()"><i class="fa fa-refresh"></i>&nbsp;Reset</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script id="templateProductModalAdd" type="text/html">
    <table class="table table-bordered table-striped table-hover" id="productTableModal">
        <thead>
        <th> </th>
        <th>Item</th>
        <th>Grade</th>
        <th>API</th>
        <th>Size</th>
        <th>Qty</th>
        <th>Rate</th>
        <th>Total Amount </th>
        <th>Action </th>
        </thead>
        <tbody>
            {{#ProductSearchAdd}}
            <tr>
                <td>{{countAddedProductCount}}</td>
                <td>{{Item}}</td>
                <td>{{Brand}}</td>
                <td>{{API}}</td>
                <td>{{Size}}</td>
                <td> {{QTY}}</td>
                <td> {{Amount}}</td>
                <td> {{TotalAmount}}</td>
                <td>
                    <a class="btn btn-danger" onclick="OnDeleteProduct('{{countAddedProductCount}}')"><i class="fa fa-trash-o"></i></a>
                </td>
            </tr>
            {{/ProductSearchAdd}}
        </tbody>
    </table>
</script>
<script id="templateExpenseModalAdd" type="text/html">
    <table class="table table-bordered table-striped table-hover" id="ExpenseTableModal">
        <thead>
        <th> </th>
        <th>Expense</th>
        <th>Rate</th>
        <th>Qty</th>
        <th>Total Expense</th>
        <th>Action </th>
        </thead>
        <tbody>
            {{#ExpenseSearchAdd}}
            <tr>
                <td>{{countAddedExpenseCount}}</td>
                <td>{{Item}}</td>
                <td> {{ExpenseRate}}</td>
                <td> {{ExpenseAmount}}</td>
                <td> {{TotalAmount}}</td>
                <td>
                    <a class="btn btn-danger" onclick="OnDeleteExpense('{{countAddedExpenseCount}}')"><i class="fa fa-trash-o"></i></a>
                </td>
            </tr>
            {{/ExpenseSearchAdd}}
        </tbody>
    </table>
</script>
<script>
    function calculateRow(row) {
        var price = +row.find('input[name^="price"]').val();
    }
    function calculateGrandTotal() {
        var grandTotal = 0;
        $("table.order-list").find('input[name^="price"]').each(function () {
            grandTotal += +$(this).val();
        });
        $("#grandtotal").text(grandTotal.toFixed(2));
    }
    $(document).ready(function () {
        // LoadAccountLedgerList(13, "ddlExpenseHead");
        var now = new Date();
        var day = ("0" + now.getDate()).slice(-2);
        var month = ("0" + (now.getMonth() + 1)).slice(-2);
        var today = now.getFullYear() + "-" + (month) + "-" + (day);
        $('#txtDates').val(today);
        LoadAllSize("ddlSize");
        LoadAllBrand("ddlBrand");
        LoadInvoiceNo("txtPoNo");
        LoadAllProduct('ddlItem');
        LoadAllWareHouse("ddlWareHouse");
        LoadSupplier("ddlSupplier");
        LoadAllAPI("ddlAPI");
        var templateWithData = Mustache.to_html($("#templateProductModalAdd").html(), { ProductSearchAdd: details });
        $("#div-product-add").empty().html(templateWithData);

        var templateWithExpense = Mustache.to_html($("#templateExpenseModalAdd").html(), { ExpenseSearchAdd: detailsExpense });
        $("#div-expense-add").empty().html(templateWithExpense);

        Calculation();
        CalculationExpense();
        $(function (){
        $('#btnBrandAdd').click(function() {
            var url = '/Brand/Add';
            var dialog = $('<div style="display:none"></div>').appendTo('body');
            dialog.load(url, {}, 
                function (responseText, textStatus, XMLHttpRequest) {
                    dialog.dialog({
                    maxWidth:600,
                    maxHeight: 500,
                    width: 600,
                    height: 500,
                    modal: true,
                    title:"Add Brand",
                        close: function (event, ui) {
                         LoadAllBrand("ddlBrand");
                        dialog.remove();
                    }
                });
            });
            return false;
        });
        });
                $(function (){
        $('#btnSizeAdd').click(function() {
            var url = '/SizeSetup/Add';
            var dialog = $('<div style="display:none"></div>').appendTo('body');
            dialog.load(url, {}, 
                function (responseText, textStatus, XMLHttpRequest) {
                    dialog.dialog({
                    maxWidth:600,
                    maxHeight: 500,
                    width: 600,
                    height: 500,
                    modal: true,
                    title:"Add Size",
                        close: function (event, ui) {
                        LoadAllSize("ddlSize");
                        dialog.remove();
                    }
                });
            });
            return false;
        });
    });
    });
</script>
<script src="~/Scripts/app/CommonLoader.js"></script>
<script src="~/Scripts/app/GoodReceive.js"></script>
<script src="~/Scripts/app/Accounts.js"></script>
<script src="~/Scripts/app/Brand.js"></script>
<script src="~/Scripts/app/Size.js"></script>
<script src="~/Scripts/app/API.js"></script>