@using RexERP_MVC.Util
@using RexERP_MVC.Models
@model List<SHIFT>
@{
    ViewBag.Title = "Manual Attendance";
    ViewBag.Caption = ".: " + ViewBag.Title + " :.";
}

@section Scripts {
    <script src="~/Scripts/app/Employee.js"></script>
}
<div class="card">
    <fieldset>
        <div class="form-group-lg">
            <form id="frm">
                <table width="100%" border="0" cellpadding="1" cellspacing="1" class="input_form_tbl">
                    <tr nowrap>
                        <td width="200">
                            <label>Select Employee</label>
                        </td>
                        <td width="300">
                            <select class="form-control" id="ddlEmployee" name="ddlEmployee">
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Attendance Date
                        </td>
                        <td>
                            <input id="AttendanceDate" type="date" />
                        </td>
                        <td> To</td>
                        <td>
                            <input id="AttendanceDateEnd" type="date" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            CheckIn
                        </td>
                        <td>
                            <input id="CheckIn" name="CheckIn" title="HH:mm" type="time" size="10" maxlength="12" value="00:00" />
                        </td>
                        <td>
                            CheckOut
                        </td>
                        <td>
                            <input id="CheckOut" name="CheckOut" title="HH:mm" type="time" size="10" maxlength="12" value="00:00" />
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">
                            <label>Remark</label>
                        </td>
                        <td colspan="3">
                            <label>
                                <textarea name="Remark" id="Remark" cols="60" rows="3"></textarea>
                            </label>
                        </td>
                    </tr>
                </table>
            </form>            
        </div>
        <div>
            <button class="btn btn-w-m btn-info" data-style="expand-left" id="form_btn_save" name="form_btn_save" onclick="SaveAttendance();"><i class="fa fa-save"></i>&nbsp; Save</button>
        </div>
    </fieldset>
</div>
<script id="templateEmployeeGroupModal" type="text/html">
    <table class="table table-bordered table-striped table-hover" id="employeeGroupTableModal">
        <thead>
        <th>Code</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Action</th>
        </thead>
        <tbody>
            {{#EmployeeGroupSearch}}
            <tr>
                <td>{{Code}}</td>
                <td> {{FirstName}}</td>
                <td> {{LastName}}</td>
                <td> {{Email}}</td>
                <td> {{Phone}}</td>
                <td class="action-sm">
                    <a class="btn btn-primary btn-xs" onclick="LoadToAdd('{{Id}}','{{Code}}','{{FirstName}}','{{LastName}}')"><i class="fa fa-edit"></i> Select</a>
                </td>
            </tr>

            {{/EmployeeGroupSearch}}
        </tbody>
    </table>
</script>
<script>
    $(document).ready(function () {
        var now = new Date();
        var day = ("0" + now.getDate()).slice(-2);
        var month = ("0" + (now.getMonth() + 1)).slice(-2);
        var today = now.getFullYear() + "-" + (month) + "-" + (day);
        $('#AttendanceDate').val(today);
        $("#AttendanceDateEnd").val(today);
        LoadEmployeeCombo('ddlEmployee');
        GetAttendance();

    });
        function GetAttendance() {
        var employeeId = $("#ddlEmployee option:selected").val();
        var submitURL = '/EmployeeAttendance/GetList';
        $.ajax({
            contentType: "application/json",
            type: 'GET',
            url: submitURL,
            data: {
                EmployeeId: employeeId, attendanceDate: $("#AttendanceDate").val()
            },
            async: false,
            error: function () {
                return false;
            },
            success: function (result) {
                ShowNotification("1","Sucess!!")
            }
        });
    }
    function SaveAttendance() {
        var employeeId = $("#ddlEmployee option:selected").val();
        var submitURL = '/EmployeeAttendance/Insert';
        $.ajax({
            contentType: "application/json",
            type: 'POST',
            url: submitURL,
            data: JSON.stringify({
                EmployeeId: employeeId, AttendanceDate: $('#AttendanceDate').val(), AttendanceDateEnd: $('#AttendanceDateEnd').val(),
                CheckIn: $("#CheckIn").val(), CheckOut: $("#CheckOut").val()
            }),
            async: false,
            error: function () {
                return false;
            },
            success: function (result) {
                ShowNotification("1","Sucess!!")
            }
        });
    }
</script>
