@model RexERP_MVC.Models.AccountGroup
@{
    ViewBag.Title = "HoliDay Setup";
}

<link rel="icon" type="img/x-icon" href="~/Content/Images/bill.jpg" />

<style type="text/css">
    fieldset {
        margin: 4px;
        border: 1px solid silver;
        padding: 4px;
        border-radius: 2px;
        border-color: lightgray;
    }

    legend {
        padding: 2px;
        font-size: 14px;
        font-weight: bolder;
        color: grey;
    }
</style>

<div class="page-title">
    <div>+++
        <h1><i class="fa fa-edit"></i>HoliDay Setup</h1>

    </div>
    <div>
        <ul class="breadcrumb">
            <li><i class="fa fa-home fa-lg"></i></li>
            <li>Forms</li>
            <li><a href="#">HoliDay Setup</a></li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="row">
                <div class="col-lg-12">
                    <div class="well bs-component">
                        <form class="form-horizontal">
                            <div class="col-md-10">
                                <fieldset>
                                    <div class="form-group">
                                        <input type="hidden" id="hdId" />
                                        <label class="col-md-2 control-label">
                                            Holiday Name:
                                        </label>
                                        <div class="col-md-4">
                                            <input type="text" id="txtHolidayName" name="txtHolidayName" class="form-control" />
                                        </div>

                                        <label class="col-md-2 control-label">
                                            HoliDay Year:
                                        </label>
                                        <div class="col-md-4">
                                            <select class="form-control" id="ddlYear" name="ddlYear">
                                                <option value="0">---Select---</option>
                                                <option value="2018">2018</option>
                                                <option value="2019">2019</option>
                                                <option value="2020">2020</option>
                                                <option value="2021">2021</option>
                                                <option value="2022">2022</option>
                                                <option value="2023">2023</option>
                                                <option value="2024">2024</option>
                                                <option value="2025">2025</option>
                                                <option value="2026">2026</option>
                                                <option value="2027">2027</option>
                                                <option value="2028">2028</option>
                                                <option value="2029">2029</option>
                                            </select>
                                        </div>
                                    </div>
                                  
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">
                                            HoliDay Month:
                                        </label>
                                        <div class="col-md-4">
                                            <select class="form-control" id="ddlMonth" name="ddlMonth">
                                                <option value="0">---Select---</option>
                                                <option value="1">January</option>
                                                <option value="2">February</option>
                                                <option value="3">March</option>
                                                <option value="4">April</option>
                                                <option value="5">May</option>
                                                <option value="6">June</option>
                                                <option value="7">July</option>
                                                <option value="8">August</option>
                                                <option value="9">September</option>
                                                <option value="10">October</option>
                                                <option value="11">November</option>
                                                <option value="12">December</option>
                                            </select>
                                        </div>
                                     
                                        <label class="col-md-2 control-label">
                                            HoliDay Day:
                                        </label>
                                        <div class="col-md-4">
                                            <select class="form-control" id="ddlDay" name="ddlDay">
                                                <option value="0">---Select---</option>
                                                <option value="1">Saturday</option>
                                                <option value="2">Sunday</option>
                                                <option value="3">Monday</option>
                                                <option value="4">Tuesday</option>
                                                <option value="5">Wednesday</option>
                                                <option value="6">Thursday</option>
                                                <option value="7">Friday</option>
                                            </select>
                                        </div>
                                    </div>
                                 
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">
                                            Start Time:
                                        </label>
                                        <div class="col-md-4">
                                            <input type="text" id="txtStartTime" name="txtStartTime" class="form-control" />
                                        </div>

                                        <label class="col-md-2 control-label">
                                            Duration:
                                        </label>
                                        <div class="col-md-4">
                                            <input type="text" id="txtDuration" name="txtDuration" class="form-control" />
                                        </div>
                                    </div>

                                   
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">
                                            Holiday Type:
                                        </label>
                                        <div class="col-md-4">
                                            <input type="text" id="txtHolidayType" name="txtHolidayType" class="form-control" />
                                        </div>
                                    </div>

                                    <fieldset>
                                        <div class="form-actions">
                                            <div class="col-md-12">
                                                <button class="btn btn-w-m btn-info" data-style="expand-left" id="btnSave" type="button" onclick="SaveHoliday()"><i class="fa fa-save"></i>&nbsp; Save</button>
                                                <button class="btn btn-w-m btn-primary" data-style="expand-left" id="btnUpdate" type="button" onclick="Update()"><i class="fa fa-save"></i>&nbsp; Update</button>
                                                <button class="btn btn-danger" data-style="expand-left" id="btnDelete" type="button" onclick="Delete()"><i class="fa fa-minus"></i>&nbsp; Delete</button>
                                                <button class="btn btn-w-m btn-success" type="button" id="btnReset" onclick="ResetForm()"><i class="fa fa-refresh"></i>&nbsp;Reset</button>

                                            </div>
                                        </div>
                                    </fieldset>

                                    <div class="ibox-title">
                                    </div>
                                    <br />
                                    <div class="ibox-content" id="divInfo">
                                        <div class="form-group">
                                            <div class="col-md-12 table-responsive" id="div-productGroup">
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                          
                        </form>
                    </div>
                </div>
                <div class="col-lg-4 col-lg-offset-1">
                    <form class="bs-component">
                        <script id="templateProductGroupModal" type="text/html">
                            <table class="table table-bordered table-striped table-hover" id="productGroupTableModal">
                                <thead>
                                <th>ID</th>
                                <th>HOLIDAYNAME</th>
                                <th>HOLIDAYYEAR</th>
                                <th>HOLIDAYMONTH</th>
                                <th>HOLIDAYDAY</th>
                                <th>STARTTIME</th>
                                <th>DURATION</th>
                                <th>HOLIDAYTYPE</th>
                                <th>Action</th>
                                </thead>
                                <tbody>
                                    {{#ProductGroupSearch}}
                                    <tr>
                                        <td> {{HOLIDAYID}}</td>
                                        <td> {{HOLIDAYNAME}}</td>
                                        <td>{{HOLIDAYYEAR}}</td>
                                        <td>{{HOLIDAYMONTH}}</td>
                                        <td>{{HOLIDAYDAY}}</td>
                                        <td>{{STARTTIME}}</td>
                                        <td>{{DURATION}}</td>
                                        <td>{{HOLIDAYTYPE}}</td>
                                        <td class="action-sm">
                                            <a class="btn btn-primary btn-xs" onclick="LoadForEdit('{{Id}}')"><i class="fa fa-edit"></i> Select</a>
                                        </td>
                                    </tr>
                                    {{/ProductGroupSearch}}
                                </tbody>
                            </table>
                        </script>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/app/Holiday.js"></script>
<script src="~/Scripts/jquery.timepicker.js"></script>
<script src="~/Scripts/jquery.timepicker.min.js"></script>
<link href="~/Content/jquery.timepicker.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        //LoadAccountLedgerList();
        $('#txtStartTime').timepicker({ 'step': 15 });
        LoadHoliDayList();
    });
</script>


