@{
    ViewBag.Title = "Home Page";
}
    <div class="row">
        <div class="col-md-3">
            <div class="widget-small primary">
                <i class="icon fa fa-users fa-3x"></i>
                <div class="info">
                    <h4>Today's Receive</h4>
                    <p id="totalReceive"><b>0</b></p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="widget-small info">
                <i class="icon fa fa-thumbs-o-up fa-3x"></i>
                <div class="info">
                    <h4>Today's Total Sell</h4>
                    <p id="totalSales"><b>0.0</b></p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="widget-small warning">
                <i class="icon fa fa-files-o fa-3x"></i>
                <div class="info">
                    <h4>Today's Total Production</h4>
                    <p><b>100</b></p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="widget-small danger">
                <i class="icon fa fa-star fa-3x"></i>
                <div class="info">
                    <h4>Total Collection</h4>
                    <p><b>5000</b></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="widget-small primary coloured-icon">
                <i class="icon fa fa-users fa-3x"></i>
                <div class="info">
                    <h4>Total Customer</h4>
                    <p><b>৫০</b></p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="widget-small info coloured-icon">
                <i class="icon fa fa-thumbs-o-up fa-3x"></i>
                <div class="info">
                    <h4>Total Discount</h4>
                    <p><b>25</b></p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="widget-small warning coloured-icon">
                <i class="icon fa fa-files-o fa-3x"></i>
                <div class="info">
                    <h4>Today's Total Payment</h4>
                    <p><b>10</b></p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="widget-small danger coloured-icon">
                <i class="icon fa fa-star fa-3x"></i>
                <div class="info">
                    <h4>Stars</h4>
                    <p><b>500</b></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
            <div class="card">
                <h3 class="card-title">Total Sales</h3>
                <div class="card-body" id="div-product-add">
                </div>
        </div>
    </div>
<div class="row">
    <div class="card">
        <h3 class="card-title">Customers </h3>
        <div class="messanger">
        </div>
    </div>
</div>
<script id="templateProductGroupModal" type="text/html">
    <table class="table table-bordered table-hover table-responsive" id="productGroupTableModal">
        <thead>
        <th>Product Name</th>
        <th>SizePack</th>
        <th>API</th>
        <th>Brand</th>
        <th>Sales Qty</th>
        <th>Amount</th>
        </thead>
        <tbody>
            {{#ProductGroupSearch}}
            <tr>
                <td><a onclick="LoadSellsDetails('{{Id}}')">{{ProductName}}</a> </td>
                <td> {{SizeName}}</td>
                <td> {{APIName}}</td>
                <td> {{BrandName}}</td>
                <td> {{Qty}}</td>
                <td> {{TotalAmount}}</td>
            </tr>
            {{/ProductGroupSearch}}
        </tbody>
    </table>
</script>
<script id="templateGroupModal" type="text/html">
    <table class="table table-bordered table-hover table-responsive" id="productGroupTableModal">
        <thead>
        <th>Product Name</th>
        <th>SizePack</th>
        <th>API</th>
        <th>Brand</th>
        <th>Sales Qty</th>
        <th>Amount</th>
        </thead>
        <tbody>
            {{#ProductGroupSearch}}
            <tr>
                <td><a onclick="LoadSellsDetails('{{ProductId}},{{SizeName}},{{BrandName}},{{APIName}}')">{{ProductName}}</a> </td>
                <td> {{SizeName}}</td>
                <td> {{APIName}}</td>
                <td> {{BrandName}}</td>
                <td> {{Qty}}</td>
                <td> {{TotalAmount}}</td>
            </tr>
            {{/ProductGroupSearch}}
        </tbody>
    </table>
</script>
<script src="~/Scripts/app/HomePage.js"></script>
<script>
    $(document).ready(function () {
        LoadStatistices();
    });
    function LoadSellsDetails(productId, sizeName, brandName, apiName) {
        console.log(productId);
    var url = '/Sales/SalesListByProduct';
    $.ajax({
        url: url,
        method: 'GET',
        data: {productId:productId,sizeName:sizeName,brandName:brandName,apiName:apiName},
        success: function (res) {
            console.log(res);
            var templateWithData = Mustache.to_html($("#templateProductGroupModal").html(), { ProductGroupSearch: res});
            $("#div-product-add").empty().html(templateWithData);
            MakePagination('productGroupTableModal');
        },
        error: function (err) {
            console.log(err);
        }
    });
    }
</script>